* text=auto
*.c text eol=lf
*.h text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.cmake text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.jpg binary
*.png binary
# Preserve upstream license notices verbatim, including their whitespace.
licenses/** -whitespace
